azuredatafactoryblobs/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ksaycon-adf-poc2"
		},
		"AzureFuncAppsPython_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFuncAppsPython'"
		},
		"pokemondetaildb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'pokemondetaildb'"
		},
		"sourcedata_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sourcedata'"
		},
		"AzureFuncAppsPython_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://ksayconfunctionpoc.azurewebsites.net"
		},
		"AZLinkKarl_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ksayconkeyvault.vault.azure.net/"
		},
		"blobtrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/1920b5d6-1bb5-45ce-b240-ecbd41c49431/resourceGroups/mdm_upskilling_program/providers/Microsoft.Storage/storageAccounts/sayconadlspoc2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureFuncAppsPython')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFuncAppsPython_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFuncAppsPython_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pokemondetaildb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('pokemondetaildb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourcedata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('sourcedata_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZLinkKarl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AZLinkKarl_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_pokemoncsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sourcedata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "rawdatasource"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sourcedata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/target_pokemondb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pokemondetaildb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "pokemonid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pokemon_name",
						"type": "nvarchar"
					},
					{
						"name": "weight",
						"type": "int",
						"precision": 10
					},
					{
						"name": "height",
						"type": "int",
						"precision": 10
					},
					{
						"name": "base_hp",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "pokemondetail"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/pokemondetaildb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_adf_blob_triggered')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Data_Source_to_DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"pokemonid"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pokemon_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pokemonid",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "pokemon_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pokemon_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "weight",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "height",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "height",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "base_hp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "base_hp",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "source_pokemoncsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "target_pokemondb",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DeleteSourceContainerFiles",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy_Data_Source_to_DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "source_pokemoncsv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "sourcedata",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/source_pokemoncsv')]",
				"[concat(variables('factoryId'), '/datasets/target_pokemondb')]",
				"[concat(variables('factoryId'), '/linkedServices/sourcedata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobtrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipe_adf_blob_triggered",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/rawdatasource/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('blobtrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_adf_blob_triggered')]"
			]
		}
	]
}